.element__like_active {
  height: 18.13px;
  width: 20.76px;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../../../../images/like-active.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #FFFFFF;
  margin: 0px 0px 3px 0px;
  padding: 0px;
  cursor: pointer;
}