.popup__image_picture {
  max-width: 75vw;
  max-height: 75vh;
  margin: 0px 30px 0px 30px;
}

/* Основной код для разрешения 320px */
 @media screen and (min-width: calc(282px * 2 + 18px)) {
      /* При ширине в две карточки */
  .popup__image_picture {
    margin: 0px 40px 0px 40px;
  }
}