.popup__pole_picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  z-index: 1;
}

/* �������� ��� ��� ���������� 320px */

@media screen and (min-width: calc(282px * 3 + 18px * 2)) {
      /* ��� ������ � ��� �������� */
  .popup__pole_picture {
    top: 41px;
  }
}